@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap);
:root{font-family:"Noto Sans",sans-serif;font-optical-sizing:auto;font-weight:400;font-style:normal;font-variation-settings:wdth 100;line-height:1.5;font-weight:400;color-scheme:light dark;color:rgba(255,255,255,.87);background-color:#242424;font-synthesis:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
*{margin:0;padding:0;-webkit-font-smoothing:subpixel-antialiased;-webkit-text-size-adjust:100%;box-sizing:border-box;word-wrap:break-word;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a,button{outline:0;border:0;cursor:pointer}
a::-moz-focus-inner{border:0}
a,a:active,a:focus,a:hover{outline:0;text-decoration:none}
img{border:0;width:100%;display:block}
body,html{margin:0;padding:0;width:100%;font-family:"Noto Sans",sans-serif;font-optical-sizing:auto;font-weight:400;font-style:normal;font-variation-settings:wdth 100;background-color:#0e0f0f!important}
ul{margin-bottom:0}
ol,ul{list-style-type:none}
a,button,img{outline:0;border:0;background:0 0}
a::-moz-focus-inner{border:0}
a,a:focus,a:hover,p a:active{color:inherit;outline:0;text-decoration:none}
button,input,textarea{appearance:none;-webkit-appearance:none;-ms-appearance:none;outline:0;border:none;font-family:inherit;border-radius:0}
::-webkit-scrollbar{background:#0e0f0f;width:8px}
::-webkit-scrollbar-thumb{background:#fff;transition:.3s all ease-in-out;border:4px double #ff5900}
::-webkit-scrollbar-thumb:hover{background:#ff5900}
input:-webkit-autofill,input:-webkit-autofill:active,input:-webkit-autofill:focus,input:-webkit-autofill:hover{-webkit-transition-delay:9999s;transition-delay:9999s}
.content-cards{max-width:1600px;margin-left:auto;margin-right:auto;width:100%}
.content-cards .icon{position:absolute;left:8px;bottom:8px}
.content-card{transform:none;transition:.3s all ease-in-out}
.content-card:hover{transform:scale(1.02)}
.myBadge{position:absolute;bottom:8px;right:8px;background:rgba(0,0,0,.7);border-radius:35px;padding:3px 8px;color:#fff;display:flex;align-items:center;gap:5px;font-size:12px;font-weight:700}
.myCompleted{position:absolute;left:0;top:0;padding:5px 10px;color:#000;display:flex;align-items:center;gap:4px;font-size:12px;background:#fff;font-weight:700;border-bottom-right-radius:8px}
.circularProgress{border:1px solid #ff5900;border-radius:50%;overflow:hidden}
.loader{width:100px;aspect-ratio:.5;--c:no-repeat linear-gradient(#ff5900 0 0);background:var(--c) 0 100%,var(--c) 50% 100%,var(--c) 100% 100%;background-size:20% 65%;animation:l5 1s infinite linear;border-bottom:10px solid #ff5900}
@keyframes l5{
20%{background-position:0 50%,50% 100%,100% 100%}
40%{background-position:0 0,50% 50%,100% 100%}
60%{background-position:0 100%,50% 0,100% 50%}
80%{background-position:0 100%,50% 100%,100% 0}
}